/* site.css */
header,footer{
        background-color:mintcream;
        border: solid 1px black; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    footer{
        border-radius: 3px;
        text-align: center
    }

.image-logo{
        border:solid 1px #444;
        border-radius: 10px;
        border-color: seagreen;
      /*  position: fixed;
        top: 5px;
        left:5px;
     */
       
    }
    #main{
        border: solid 1px #ccc;
        border-radius:  5px;
        color: #202020;
        margin: 20px 0;
        padding: 5px;
        display: inline-block;
    }
    #main input[type=submit]{
        border-radius: 30px;
        color: green;
        
    }

    .whole-page{
        width: 989px;
        margin: 0 auto;
        background-color: white;
        padding: 5px
    }
    body{
        background-color: green;
    }
    html,body{
        padding: 5px;
    }
    #results{
        padding: 2px;
        width: 600px;
        display: inline-block;
    }
    header nav{
        float: right;
    }
    header nav li{
        display: inline;
        padding: 40px;
    }
    